/* add custom styles */
  @font-face {
        font-family: "duel";
        src: url(Duel.ttf);
}

h1 {
    font-size: 75px;
    font-family: "duel";
}

#ghapidata {
  float:left;
  margin-left:275px;
  border: 5px dashed rgb(46, 113, 182);
}

#ghapidata2 {
  border: 5px dashed rgb(46, 113, 182);
  float:right;
  margin-right:170px;
}

#w {
  text-align: center;
}
